---
---
@import "{{ site.theme }}";

.imgLeft {
float:left;
margin-right:10px;
margin-bottom:10px;
width:70%;
vertical-align:top;
border:1px solid red;

    
.page-header {
    color: ##c5adf3;
    text-align: center;
    background-color: #0006dc;
    background-image: linear-gradient(120deg, #0260af, #d4041f);
}

    body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #514183;
}

    .main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #b5115c;
}
